.logo-jardin {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.teles-logo {
    width: 20px;
    border-radius: 50%;
}
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }