



.custom-card {
    
    background: rgb(0,0,0);
    background: linear-gradient(240deg, rgba(0,0,0,1) 16%, rgba(20,0,65,1) 50%, rgba(68,54,87,1) 100%);

}

.backcard {
  background: rgb(0,0,0);
background: -moz-linear-gradient(240deg, rgba(0,0,0,1) 16%, rgba(20,0,65,1) 45%, rgba(68,54,87,1) 100%);
background: -webkit-linear-gradient(240deg, rgba(0,0,0,1) 16%, rgba(20,0,65,1) 45%, rgba(68,54,87,1) 100%);
background: linear-gradient(240deg, rgba(0,0,0,1) 16%, rgba(20,0,65,1) 45%, rgba(68,54,87,1) 100%);
}

.darkfooter {
  background: rgb(206,231,216);
background: -moz-linear-gradient(240deg, rgba(206,231,216,1) 6%, rgba(169,131,254,0.9136029411764706) 35%, rgba(153,109,213,1) 77%);
background: -webkit-linear-gradient(240deg, rgba(206,231,216,1) 6%, rgba(169,131,254,0.9136029411764706) 35%, rgba(153,109,213,1) 77%);
background: linear-gradient(240deg, rgba(206,231,216,1) 6%, rgba(169,131,254,0.9136029411764706) 35%, rgba(153,109,213,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cee7d8",endColorstr="#996dd5",GradientType=1);
}


h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
h2 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
h3 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }